body.article {
    background-color: var(--white);
    article {
        width: 600px;
        margin: 0 auto;
        h1, h2, h3 {
            font-weight: 700;
        }
        h1 {
            font-size: 48px;
        }
    }
        font-family: "PP Radio Grotesk";
        
}