@font-face {
    font-family: "PP Radio Grotesk";
    src: url("fonts/PPRadioGrotesk-Regular.otf");
    font-weight: normal;
}

@font-face {
    font-family: "PP Radio Grotesk";
    src: url("fonts/PPRadioGrotesk-Black.otf");
    font-weight: bold;
}